

body{
    background-color: black
        
}

.main-heading{

    color: white;
    text-align: center;
    border-bottom: solid;
}

.game-box{
    border: none;
    color: white;
    float: left;
    width:1000px;
    height: 1000px;
    text-align: left;
    border-width: 2px;
    font-family: 'VT323', monospace;
    font-size: 30px;
}


.test-title{
    margin: auto;
    border: none;
    color: white;
    float: center;
    width: min(500em, 100vw);
    height: min(30em, 100vw);
    border-bottom: solid;
    font-size: 0.3vw;
    text-align: center;
}

.input-style input{
    background-color: black; 
    color: white; 
    border:none; 
    border-style:none; 
    outline:none;
    font-family: 'VT323', monospace;
    font-size: 30px;
    width: 500px;
    bottom: auto;
}

ttom: auto;
}


