

body{
    background-color: black
        
}

.main-heading{

    color: white;
    text-align: center;
    border-bottom: solid;
}

.game-box{
    margin: auto;
    border: solid;
    color: white;
    float: center;
    width:500px;
    height: 500px;
    text-align: center;
    border-width: 2px;
    
}


.test-title{
    margin: auto;
    border: solid;
    color: white;
    float: center;
    width:1800px;
    height: 300px;
    border-bottom: solid;
    font-size: 10px;
}

